<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendamentos</title>
  <link rel="stylesheet" href="/css/agendamento-adm.css">
</head>

<body>
  <div class="container">
    <header>
      <img id="logo" src="images/Logo.png" alt="Logo_movimento_saudavel" onclick="voltar()">
    </header>
    <main>
      <section class="agenda">
        <h1>AGENDAMENTOS</h1>
        <div class="date-selector">
          <input type="date" value="2024-10-10">
          <button class="dropdown">HOJE ▼</button>
        </div>
        <div class="appointments">
          <div class="appointment">
            <p><strong>ALINE OLIVEIRA</strong> - 10/10/2024 às 8:30 AM</p>
              <div class="align-appointments">
                <p>Dra. Paula - Volta</p>
                <button class="add-button">+</button>
              </div>
          </div>
          <div class="appointment">
            <p><strong>RICARDO DANTAS</strong> - 10/10/2024 às 10:00 AM</p>
            <div class="align-appointments">
              <p>Dra. Paula - Volta</p>
              <button class="add-button">+</button>
            </div>
          </div>
          <div class="appointment">
            <p><strong>AGATHA MARIA</strong> - 10/10/2024 às 10:00 AM</p>
            <div class="align-appointments">
              <p>Dra. Paula - 1ª Consulta</p>
              <button class="add-button">+</button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>