<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimento Saudável</title>
    <link rel="stylesheet" href="css/comecar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/cabeçalho.css"> <!-- Link para o CSS -->
</head>
<body>
    <div class="container">
        <nav id="tabs">
            <ul>
                <li><a href="#" class="tab" data-tab="agendamentos">AGENDAMENTOS</a></li>
                <li><a href="#" class="tab" data-tab="exames">EXAMES</a></li>
                <li><a href="#" class="tab" data-tab="metas">METAS DA SEMANA</a></li>
            </ul>
        </nav>
        <div class="content">
            <div class="texto">
                <p id="titulo">Responda ao questionário para criar sua lista de exercícios</p>
                <p></p>
            </div>
            <div class="imagem">
                <img src="images/medica_com_prancheta.png" alt="medica">
            </div>
        </div>
    </div>
</body>
</html>
