<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios</title>
    <link rel="stylesheet" href="/css/exercicio.css">
</head>
<body>
    <section class="container-exercicios">
        <div class="container">
            <div class="welcome-exercicios">
                <div class="text-center">
                    <h2>Bem-vindo à Página de Exercícios!</h2>
                    <p>
                        Aqui, você encontrará uma seleção de exercícios simples e eficazes,
                        elaborados por uma fisioterapeuta especializada, para ajudar a aliviar
                        a tensão e promover o bem-estar no ambiente de trabalho. Faça pausas
                        regulares para praticar esses alongamentos e fortalecer sua saúde física,
                        melhorando sua postura e produtividade. Vamos cuidar do seu corpo enquanto
                        você trabalha!
                    </p>
                </div>
            </div>
            <div class="exercicios">
                <div class="container-start">
                    <button class="start">CLIQUE AQUI PARA </br>COMEÇAR!</button>
                </div>
                <div class="container-bottom">
                    <button class="button-bottom">FAZER EXERCÍCIOS DEPOIS</button>
                </div>
            </div>
        </div>
    </section>
    <script src="JavaScript/exercicio.js"></script>
</body>
</html>