<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Montagem de Plano de Exercícios</title>
  <link rel="stylesheet" href="/css/exercicio2-adm.css">
</head>

<body>
  <div class="container">
    <section class="exercise-plan">
      <div class="plan-title">
        <h1>Montagem de plano de exercícios</h1>
        <p>
          Aqui, você encontrará uma seleção de exercícios simples e eficazes para você passar para o seu paciente, bom
          trabalho!
        </p>
      </div>

      <div class="exercise-form">
        <div class="form-row">
          <input type="text" placeholder="Nome do Paciente">
          <input type="text" placeholder="ID">
        </div>

        <div class="exercise-fields">
          <div class="exercise-row">
            <input type="text" placeholder="Nome do Exercício">
            <input type="text" placeholder="Descrição">
            <input type="text" placeholder="Duração">
            <a href="#" class="add-media">Adicionar Foto/Vídeo</a>
          </div>

          <div class="exercise-row">
            <input type="text" placeholder="Nome do Exercício">
            <input type="text" placeholder="Descrição">
            <input type="text" placeholder="Duração">
            <a href="#" class="add-media">Adicionar Foto/Vídeo</a>
          </div>

          <div class="exercise-row">
            <input type="text" placeholder="Nome do Exercício">
            <input type="text" placeholder="Descrição">
            <input type="text" placeholder="Duração">
            <a href="#" class="add-media">Adicionar Foto/Vídeo</a>
          </div>
        </div>

        <div class="align-buttons">
          <button class="add-exercise">+</button>
          <!-- Botão de Salvar -->
          <button class="save-button" onclick="voltar()">Salvar</button>
        </div>
      </div>
    </section>
  </div>
  <script>
    function voltar() {
      window.location.href = '/adm_exercicios'
    };
  </script>
</body>

</html>