<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios</title>
    <link rel="stylesheet" href="/css/exercicio-start.css">
</head>
<body>
    <section class="container">
        <div class="container-align">
            <div class="questions">
                <p><a href="">FICOU COM DÚVIDA? VEJA COMO FAZ!</a></p>
            </div>
            <div class="exercicio">
                <div class="exercicio-align">
                    <div class="exercicio-form" id="exercicio-form">
                        <h1>Alongamento da Coluna Torácica</h1>
                        
                        <p>Como fazer: Sente-se com as costas retas e os pés apoiados no chão.</p>
                        <p>Entrelace os dedos e levante os braços acima da cabeça, alongando bem a coluna.</p>
                        <p>Incline-se levemente para a direita, mantendo a posição por 15-20 segundos, e depois para a esquerda.</p>
                    </div>
                </div>
            </div>
            <div class="icons">
                <img src="/images/Group 6.png" alt="nao-feito" id="naoFeito">
                <img src="/images/Group 4.png" alt="quase-feito" id="quaseFeito">
                <img src="/images/Group 5.png" alt="feito" id="feito">
            </div> 
        </div>
    </section>
    <script src="JavaScript/exercicio-start.js"></script>
</body>
</html>