<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montagem de Plano de Exercícios</title>
    <link rel="stylesheet" href="/css/exercicio-adm.css">
</head>

<body>
    <div class="container">
        <section class="exercise-plan">
            <div class="plan-title">
                <h1>Montagem de plano de exercícios</h1>
                <p>
                    Aqui, você encontrará uma seleção de exercícios simples e eficazes para você passar para o seu
                    paciente, bom
                    trabalho!
                </p>
            </div>

            <button class="create-button" id="create-button" onclick="criarLista()">Criar Nova Lista de Exercícios</button>
            <button class="edit-button" id="edit-button" onclick="editarLista()">Editar Lista de Exercícios</button>

        </section>

    </div>

    <script>
        function criarLista() {
            window.location.href = '/adm_exercicios2'
        };

        function editarLista() {
            window.location.href = '/adm_exercicios2'
        };
    </script>
</body>

</html>