<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimento Saudável</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="img1">
                <!-- IMG -->
            </div>
            <div class="logo">
                <img src="/images/Logotipo_delicado_monograma_feminino_bege_e_branco-removebg-preview 1.png" alt="">
                <h1>Movimento Saudável</h1>
            </div>
            <div class="img2">
                <!-- IMG -->
            </div>
        </div>
    </section>
</body>
</html>