<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimento Saudável</title>
    <link rel="stylesheet" href="/css/index.css">
     <link rel="stylesheet" href="/css/cabeçalho.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="img1">
                <!-- IMG -->
            </div>
            <div class="logo">
                <img src="/images/Logotipo_delicado_monograma_feminino_bege_e_branco-removebg-preview 1.png" alt="">
                <h1>Movimento Saudável</h1>
            </div>
            <div class="img2">
                <!-- IMG -->
            </div>
        </div>
        <div class="about">
            <div class="container-about">
                <h2>Bem vindo à Movimento Saudável</h2>
                <div class="img-form">
                    <div class="img">
                        <img src="/images/mulher-de-vista-lateral-se-alongando-no-trabalho-scaled 1.png" alt="">
                    </div>
                    <div class="form"></div>
                        <p>Nossa clínica de fisioterapia especialmente projetada para cuidar de quem enfrenta 
                        os desafios do ambiente de trabalho moderno! Localizada em uma área empresarial,  
                        nossa missão é atender principalmente trabalhadores de escritório que passam longas 
                        horas sentados e sofrem com dores nas costas, pescoço e outras regiões do corpo, 
                        causadas por má postura e falta de atividade física.
                        </br> </br>
                        Aqui, desenvolvemos programas personalizados de reabilitação e prevenção, focados em 
                        aliviar as dores e melhorar a qualidade de vida no dia a dia. Além disso, oferecemos 
                        orientações práticas para manter a saúde física durante o expediente, ajudando nossos 
                        pacientes a adotarem hábitos saudáveis e evitarem problemas futuros.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>