<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movimento Saudável</title>
  <link rel="stylesheet" href="/css/inicio-adm.css">
</head>
<body>
    <header>
        <img id="logo" src="images/Logo.png" alt="Logo_movimento_saudavel" onclick="voltar()">
    </header>

  <main class="container">
    <div class="menu">
      <button class="menu-button">Agendamentos</button>
      <button class="menu-button">Exames Marcados</button>
      <button class="menu-button">Pacientes</button>
      <button class="menu-button highlight">Montagem de Exercícios</button>
    </div>
  </main>
</body>
</html>