* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #eaf4e1;
  }
  
  main {
    width: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  header {
    font-weight: 700;
    font-style: normal;
    background-color: #f0f0f0;
    position: fixed;
    /* Mantém o header fixo no topo */
    top: 0;
    /* Posiciona no topo */
    left: 0;
    /* Alinha à esquerda */
    right: 0;
    /* Alinha à direita */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #91CD76;
    z-index: 1000;
    /* Garante que fique acima de outros elementos */
  }
  
  .logo img {
    width: 200px;
    height: 70px;
  }
  
  .logo:hover {
    cursor: pointer;
  }
  
  .agenda {
    width: 60%;
    padding: 50px 0px;
    background-color: #91CD76;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  
  .agenda h1 {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
  }
  
  .date-selector {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .date-selector input {
    color: #26630B;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .date-selector .dropdown {
    padding: 5px 10px;
    background-color: #ffffff;
    color: #26630B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .date-selector .dropdown:hover {
    background-color: #26630B;
    color: white;
  }
  
  .appointments {
    padding: 15px 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
  }
  
  .appointment {
    background-color: #B2DC9F;
    padding: 15px;
    width: 300px;
    height: 70px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .align-appointments {
    display: flex;
    justify-content: space-between;
  }
  
  .appointment p {
    color: #37721E;
    margin: 5px 0;
  }
  
  .add-button {
    background-color: #5EAB3C;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #3b603b;
  }