* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mukta", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #f0f0f0;
}

/* Adicione um fundo branco e z-index para o header fixo */
header {
    position: fixed; /* Mantém o header fixo no topo */
    top: 0; /* Posiciona no topo */
    left: 0; /* Alinha à esquerda */
    right: 0; /* Alinha à direita */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #91CD76;
    z-index: 1000; /* Garante que fique acima de outros elementos */
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 70px;
}

header nav ul li {
    background-color: rgba(86, 143, 60, 0.50);
    border-radius: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
}

#logo {
    width: 200px;
    height: 70px;
}
#logo:hover {
    cursor: pointer;
}

#user {
    height: 70px;
    padding-right: 20px;
}
#user:hover {
    cursor: pointer;
}

.fa-headset {
    font-size: 30px;
    margin: 5px;
}

.fa-dumbbell {
    font-size: 30px;
    margin: 5px;
}

.fa-bars {
    font-size: 30px;
    margin: 5px;
}

